<h1 class="heading">
  Gift Your Time!
</h1>
<div class="heading">
    <p>
      <%= link_to "Gift",events_url %>
    </p>
    <p>
      <%= link_to "Receive",receive_gift_url %>
    </p>
    <p>
      <%= link_to "Gratitude",gratitude_url %>
    </p>
</div>