<h1 style="text-align: center">Landing page
</h1>
<div style="text-align: center">
<p>
  <%= link_to "Gift",events_url %>
</p>
<p>
  <%= link_to "Receive",receive_gift_url %>
</p>
<p>
  <%= link_to "Gratitude",gratitude_url %>
</p>
    </div>