<div>
  <ul>
    <li>
      <span> <%= event.name %>
        <%= link_to event.name,event_url(event) %>
      </span>
      <span> <%= event.user_id %></span>
      <span> <%= event.description %></span>
    </li>
  </ul>
</div>