<div id='calendar'></div>

<%= content_for :custom_js do %>
    <script>
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                dayClick: function() {
                    alert('a day has been clicked!');
                },
                events: [
                    {
                        title: 'Wine making',
                        start: '2014-04-28',
                        description: 'Come, learn how to make wine :P'
                    }
                    // more events here
                ]
//                ,
//                eventRender: function(event, element) {
//                    element.qtip({
//                        content: event.description
//                    });
//                }
            });
        });

    </script>
<% end %>


