
$white: #ffffff;

.nav-item-text {
  color: $white;
//  height: $topbar-input-height;
}

.heading{
  text-align: center;
}

.hide{
  display: none;
}

.errors{
  color: red;
}

.comment_listing{
  list-style-type: none;

}

.event{
  padding: 0px;
  margin: 0px;

  .time_range{
    padding-left: 50px;
    margin-left: 50px;
  }
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 46px;
	font-size: 30px;
}
* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	margin: 0 0 23px 0;
}
