
$white: #ffffff;

.nav-item-text {
  color: $white;
//  height: $topbar-input-height;
}

.heading{
  text-align: center;
}

.hide{
  display: none;
}

.errors{
  color: red;
}

.comment_listing{
  list-style-type: none;

}