
@import "foundation_and_overrides";

$white: #ffffff;

.nav-item-text {
	color: $white;
}

.heading{
	text-align: center;
}

.hide{
	display: none;
}

.errors{
	color: red;
}

.comment_listing{
  list-style-type: none;
}

.event{
  padding: 0px;
  margin: 0px;

  .time_range{
    padding-left: 50px;
    margin-left: 50px;
  }
}

.logo {
	height: $topbar-height - 10px;
	margin: 5px;
}

.title-area {
	position: relative;
	h1 {
		display: inline-block;
  		vertical-align: middle;
  		margin: auto;
	}
}
