 $content_font_family: 'Open Sans';
 $content_font_weight: 400;
 $content_line_height: 23px;

 $header_font_family: 'Open Sans';
 $header_font_size: 30px;
 $header_font_weight: 300;
 $header_line_height: 46px;